.header {
    font-size: 60px;
    color: skyblue;
    text-align: center;
    margin: 20px;
    position: relative;
    text-shadow: -1.5px 0 #000, 0 1.5px #000, 1.5px 0 #000, 0 -1.5px #000;
}

nav {
    width: 100%;
    display: inline-block;
    text-align: right;
    position: relative;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px 30px;
    display: inline-block;
    text-align: center;
}

nav ul li {
    display: inline-block;
    text-align: center;
}

nav ul li a {
    display: table-cell;
    color: white;
    padding: 8px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    background-color: rgb(89, 105, 139);
    border: black 3px solid;
}

nav ul li a:hover {
    background-color: blueviolet;
    color: white;
}

img {
    display: block;
    margin: 150px auto;
    position: relative;
    padding: 70px 10px;
}

.container {
    position: relative;
    text-align: center;
}

.container::before {
    background-image: url("/Users/jeongeunseob/코딩/혼자 만들어보기/1회차/room.jpg");
    position: absolute;
    content: "";
    opacity: 0.5;
    top: -20px;
    left: -10px;
    right: -10px;
    bottom: -150px;
    background-size: cover;
}

.hero {
    text-align: center;
    position: absolute;
    display: inline-block;
    left: 38%;
}

.hero-content h1 {
    font-size: 40px;
    color: ivory;
    text-shadow: -1.5px 0 #000, 0 1.5px #000, 1.5px 0 #000, 0 -1.5px #000;
    font-family: monospace;
}

.hero-content p {
    font-size: 30px;
    font-family: fantasy;
}

.hero-content a {
    font-size: 30px;
    padding: 15px 30px;
    font-family: sans-serif;
    display: inline-block;
    color: coral;
    border-style: double;
    border: coral 5px solid;
    border-radius: 10px;
    margin-right: 30px;
    text-decoration: none;
    text-shadow: -1.5px 0 #000, 0 1.5px #000, 1.5px 0 #000, 0 -1.5px #000;
}

.hero-content a:hover {
    color: cornflowerblue;
    border: cornflowerblue 5px solid;
}